@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Roboto", serif; 
  background-color: #FAFAFA;;
}

.navItem .active li{
  color: blue;
  font-weight: 600;
  /* text-decoration: underline; */
  border: 1px solid blue;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #E5D9F2;
}
.drop .active li{
  color: blue;
}


/* .active li{
  padding: 4px;
} */